@import "../../index.scss";


.pricing{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap:1.5rem;
  
    .information{
  
      span{
        font-size: 2rem;
        color:$red;
      }
  
      h3{
        font-size: 4rem;
        padding-top: .5rem;
        color:$white;
      }
  
      p{
        line-height: 2;
        padding:1rem 0;
        font-size: 1.4rem;
        color:$light-white;
  
        .icon{
          padding-right: 1rem;
          color: $red;
        }
      }
    }
  
    .plan{
      text-align: center;
      padding:2rem;
  
      &.basic{
        background:linear-gradient(130deg, 
         $light-bg 93%, transparent 90%);
      }
  
      h3{
        font-size: 2.5rem;
        margin:1rem 0;
        color:$white;
      }
  
      .price{
        font-size: 5rem;
        font-weight: bolder;
        color:$red;
  
        span{
          color:$white;
          font-size: 2rem;
        }
      }
  
      .list{
        padding:1rem 0;
  
        p{
          line-height: 2;
          padding:1rem 0;
          font-size: 1.4rem;
          color:$light-white;
    
          .icon{
            padding-right: 1rem;
            color: $red;
          }
        }
      }
    }
  }
  